*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: whitesmoke;
    color: blueviolet;
    font-family:'Bruno Ace', cursive;
}
.navbar-brand{
    color: black;
    font-family:'Bruno Ace', cursive;
}


.navbar-brand hover{
color: white;
cursor: pointer;
}

.nav-item{
    padding: 5px;
}

.nav-link{
    color: blueviolet;
text-transform: lowercase;
}

.nav-link:hover{
color: black;
}

.btn{
    height: 45px;
    width: 150px;
    color: white;
    outline: none;
    border: none;
    transition: all 0.7s;
    background-color: blueviolet; 
  
   
}

.btn:hover{
    background-color: blueviolet;
}

/*==================About section====================*/

.About h2{
    font-size: 2rem;
    font-weight: 500;
}
.About p{
    font-weight: normal;
}

/*==================Summer Bootcamp====================*/
.Summer{
background-image: url(Images/Bootcamp.png);
background-size: cover;
height: 70vh;
}

.Summer p{
    font-size: 2rem;
}
.Summer h1{
    font-weight: 900;
    font-size: 3rem;
}

.classes h1{
    font-weight: 700;
    font-size: 3rem;
    color: blueviolet;
}



.card{
border-color: blueviolet;
background-color: black;

}

.classes h5{
    font-weight: 700;
    font-size: 2rem;
}

.FreeClass {
    background-color: black;
    background-size: cover;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    height: 50vh;
}

.btn2{
    height: 90px;
    width: 320px;
    font-size: 2.5rem;
    color: white;
    outline: none;
    border: none;
    transition: all 0.7s;
    background-color: blueviolet; 
}

.btn:hover{
    background-color: blueviolet;
}

/*==================Membership====================*/
.card-body{
    background-color:black;
    color: white;
}

.quick-items{
  list-style-position: none;
}

.ContactUs{
font-size: 3rem;
}

.contact{
height: 100vh;
background-size: contain;

}

.contact-form{
    max-width: 700px;
    max-height: 900px;
    margin: auto;
    border-radius: 5px;
    background-color: blueviolet;
    padding: 20px;
}

.contact h1{
    color: white;
}

input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 50%;
    background: white;
    color: blueviolet;
    padding: 14px 20px;
    margin: 20px;

}

.submit{
    height: 70px;
    width: 320px;
    font-size: 2rem;
    color: white;
    outline: none;
    border: none;
    transition: all 0.7s;
    align-content: normal ;
}

.footernav{
    margin: 30px 0;
}

.footernav ul{
display: flex;
justify-content: center;

}

.footernav ul li a{
    color: blueviolet;
    margin: 20px;
    text-decoration: none;
    font-size: 1rem;
}

.footernav ul li a:hover{
    opacity: 2;
}

.footerBottom{
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
    background-size: cover; 
    height: 100%;
}
.footer-section{
    position:relative;
    top:200px;
    text-align: center;
}
