*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: whitesmoke;
    color: black;
    font-family:'Bruno Ace', cursive;
}
.navbar-brand{
    color: blueviolet;
    font-family:'Bruno Ace', cursive;
}


.navbar-brand hover{
color: white;
cursor: pointer;
}

.nav-item{
    padding: 5px;
}

.nav-link{
    color:black;
text-transform: lowercase;
}

.nav-link:hover{
color: black;
}

.btn{
    height: 60px;
    width: 150px;
    color: white;
    outline: none;
    border: none;
    transition: all 0.7s;
    background-color: blueviolet; 
}

.btn:hover{
    background-color: blueviolet;
}

.About h2{
    font-size: 2rem;
    font-weight: 500;
}
.About p{
    font-weight: normal;
}
